---
title: Grid
key: grid
order: 6
---

<script lang="ts">
	import SqueezeContainer from '$lib/SqueezeContainer/index.svelte';
	import PropSelect from '$lib/PropSelect/index.svelte';
	import { space_options, measure_options } from '$lib/utils/preview-content.ts';

	let gridRowSpace = $state('var(--s-1)');
	let gridColumnSpace = $state('var(--s-1)');
	let gridMinWidth = $state('var(--measure-small)');
</script>

<style>
	.item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: none;
		height: 100px;
		background-color: lightblue;
	}
</style>

# Grid

Grid layout that will adjust number columns depending on the space available.

The props `gridColumnSpace` and `gridRowSpace` can be used to define separate gutters widths between columns and rows.

This will only come into effect if `gridSpace` is not applied or is an empty string - otherwise the `gridSpace` value will be used.

## Usage

```svelte
<div class="l-grid">
	<span>Item</span>
	<span>Item</span>
	<span>Item</span>
	...
</div>
```

## Default

<SqueezeContainer>
	<div class="l-grid">
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
	</div>
</SqueezeContainer>

## Custom properties

| Property name     | Default value          |
| ----------------- | ---------------------- |
| `--grid-column-space--component` | `var(--s-1)` |
| `--grid-row-space--component` | `var(--s-1)` |
| `--grid-min-width--component` | `var(--measure-small)` |

```html
<div class="l-grid"
	style="
		--grid-column-space--component: var(--s-1);
		--grid-row-space--component: var(--s-1);
		--grid-min-width--component: var(--measure-small);"
	>
	<span class="item">Item</span>
	<span class="item">Item</span>
	<span class="item">Item</span>
	...
</div>
```
	
<PropSelect options={space_options} name="--grid-columns-space--component" bind:value={gridRowSpace} />
<PropSelect options={space_options} name="--grid-row-space--component" bind:value={gridColumnSpace} />
<PropSelect options={measure_options} name="--cluster-justify-content--component" bind:value={gridMinWidth} />

<SqueezeContainer>
	<div class="l-grid" style={`
		--grid-column-space--component: ${gridRowSpace};
		--grid-row-space--component: ${gridColumnSpace}; 
		--grid-min-width--component: ${gridMinWidth};
	`}>
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
	</div>
</SqueezeContainer>

## Use as list

<SqueezeContainer>
	<ul class="l-grid">
		<li class="item">Item</li>
		<li class="item">Item</li>
		<li class="item">Item</li>
		<li class="item">Item</li>
		<li class="item">Item</li>
		<li class="item">Item</li>
		<li class="item">Item</li>
	</ul>
</SqueezeContainer>