---
title: Box
key: box
order: 0
---

<script lang="ts">
	import SqueezeContainer from '$lib/SqueezeContainer/index.svelte';
	import PropSelect from '$lib/PropSelect/index.svelte';
	import { space_options } from '$lib/utils/preview-content.ts';

	let boxPadding = $state('var(--s-1)');
</script>

<style>
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: none;
		height: 100px;
		background-color: lightblue;
	}
</style>

# Box

Simple component used to add padding around its contents.

## Usage

```html
<div class="u-box">
	<span>Item</span>
</div>
```

## Default

<SqueezeContainer>
	<div class="u-box">
		<span>Item</span>
	</div>
</SqueezeContainer>

## Custom Properties

| Property name | Default value |
| ------------- | ------------- |
| `--box--padding`    | `var(--s-1)`  |

```html
<div class="u-box" style="--box--padding: var(--s-2);">
	<span>Item</span>
</div>
```

<PropSelect options={space_options} name="--box--padding" bind:value={boxPadding} />

<SqueezeContainer>
	<div class="u-box" style="--box--padding: {boxPadding};">
		<span>Item</span>
	</div>
</SqueezeContainer>