---
title: Box
key: box
order: 0
---

<script lang="ts">
	import type { Space } from '$lib/types';
	import Box from '$lib/Box/index.svelte';
	import SqueezeContainer from '$lib/SqueezeContainer/index.svelte';
</script>

<style>
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: none;
		height: 100px;
		background-color: lightblue;
	}
</style>

# Box

Simple component used to add padding around its contents.

## Usage

```html
<div class="u-box">
	<span>Item</span>
</div>
```

## Props

| Property name | Default value |
| ------------- | ------------- |
| `--box-space--component`    | `var(--s-1)`  |

## Default

<SqueezeContainer>
	<div class="u-box">
		<span>Item</span>
	</div>
</SqueezeContainer>
