---
title: Cover
key: cover
order: 3
---

<script lang="ts">
	import SqueezeContainer from '$lib/SqueezeContainer/index.svelte';
	import PropSelect from '$lib/PropSelect/index.svelte';
	import PropBoolean from '$lib/PropBoolean/index.svelte';
	import { space_options, height_options } from '$lib/utils/preview-content.ts';

	let coverSpace = $state('var(--s-1)');
	let coverHeight = $state('100vh');
	let hasCentered = $state(true);
</script>

<style>	
	.item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: none;
		height: 100px;
		background-color: lightblue;
	}

	.e-cover__centered {
		background-color: pink;
	}
</style>

# Cover

Centers an item vertically within a defined height.

Expects the item to be centered to have an `e-cover__centered` class applied.

Two additional items can be place before and after the centered element.
These will be displayed at the top and bottom of the Cover area.

## Usage

```html
<div class="l-cover">
	<span>Item</span>
	<span class="e-cover__centered">.cover__centered</span>
	<span>Item</span>
</div>
```

## Default

<SqueezeContainer>
	<div class="l-cover">
		<span class="item">Item</span>
		<span class="item e-cover__centered">.e-cover__centered</span>
		<span class="item">Item</span>
	</div>
</SqueezeContainer>

## Custom properties

| Property name | Default value |
| ------------- | ------------- |
| `--cover-space--component`  | `var(--s-1)`  |
| `--cover-height--component` | `100vh`       |

```html
<div class="l-cover"
	style="
		--cover-space--component: var(--s-1);
		--cover-height--component: 100vh;"
	>
	<span class="item">Item</span>
	<span class="item e-cover__centered">.e-cover__centered</span>
	<span class="item">Item</span>
</div>
```

<PropSelect options={space_options} name="--cover-space--component" bind:value={coverSpace} />
<PropSelect options={height_options} name="--cover-height--component" bind:value={coverHeight} />
<PropBoolean name="Child item has e-cover__centered class" bind:value={hasCentered} />

<SqueezeContainer>
	<div class="l-cover" style={`
		--cover-space--component: ${coverSpace};
		--cover-height--component: ${coverHeight};`}>
		<span class="item">Item</span>
		<span class="item {hasCentered ? 'e-cover__centered' : ''}">{hasCentered ? '.e-cover__centered' : 'Item'}</span>
		<span class="item">Item</span>
	</div>
</SqueezeContainer>

## With multiple items either side of the centered item

<SqueezeContainer>
	<div class="l-cover">
		<span class="item">Item</span>
		<span class="item">Item</span>
		<span class="item e-cover__centered">.e-cover__centered</span>
		<span class="item">Item</span>
		<span class="item">Item</span>
	</div>
</SqueezeContainer>

## With just one item

<SqueezeContainer>
	<div class="l-cover">
		<span class="item e-cover__centered">.e-cover__centered</span>
	</div>
</SqueezeContainer>