body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
}

h1 + * {
	margin-block-start: var(--s1) !important;
}

h2 {
	margin-block-start: var(--s1) !important;
}

table {
	border-collapse: collapse;
}

thead {
	border-block-end: 2px solid #000;
}

th {
	text-align: start;
}

.layout-sidebar-wrapper {
	min-height: 100vh;
}

.layout-sidebar {
	background-color: aquamarine;
}

.main-content {
	background-color: bisque;
}

.visually-hidden {
	position: absolute !important;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -100%;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
